# üìä Cleaning Data from Numbeo for countries in Southeast Asia 

I collected data from Numbeo about living costs in Southeast Asia countries using web-scraping with BeautifulSoup in Python. I saved this in a CSV file. Now, in this notebook, I'll clean this data, making it ready for my main project.

## What's the Project About?

I'm working on a big project where I want to know more about:

1. **How much it costs to live in different countries from Southeast Asia:** This is the data from Numbeo that tells us about things like food, rent and other costs in various cities.
2. **Visa rules:** This is about what rules people need to follow to visit or live in Southeast countries.
3. **Safety and health:** This will tell us how safe a place is and a map with details about where to find hospitals and how to stay safe.
4. **Weather:** This will help us understand what the climate is like in different parts of these countries.

**What I Want at the End:** After collecting and cleaning all this data, I want to create a web platform that's like a toolkit for digital nomads heading to Southeast Asia.

Now, let's start cleaning the data from Numbeo!

## Importing Necessary Libraries

Before we start with data cleaning, we need to import the required Python libraries. üêç

In [140]:
import pandas as pd
import numpy as np

## Loading the Data

* We will load the data from the CSV file into a Pandas DataFrame for easy manipulation.

In [141]:
df = pd.read_csv("C:\\Users\\mihai.croitoru\\Desktop\\Nomads in Asia\\WS_Numbeo\\numbeo_data_usd.csv")

* Let's take a quick look at the top rows of our data.

In [142]:
df.head()

,0,1,2,3
0,Singapore,Restaurants,Edit,Range
1,Singapore,"Meal, Inexpensive Restaurant",9.53¬†$,4.40-20.17
2,Singapore,"Meal for 2 People, Mid-range Restaurant, Three...",73.34¬†$,44.00-128.34
3,Singapore,McMeal at McDonalds (or Equivalent Combo Meal),7.33¬†$,5.87-8.80
4,Singapore,Domestic Beer (0.5 liter draught),7.33¬†$,3.67-11.00

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       715 non-null    object
 1   1       715 non-null    object
 2   2       715 non-null    object
 3   3       582 non-null    object
dtypes: object(4)
memory usage: 22.5+ KB

## Preview the Data

* For a better view, I set the display options to see the maximum rows and columns.
* I renamed the columns for clarity.

In [144]:
pd.set_option('display.max_rows', 715)
pd.set_option('display.max_columns', 7)
df.columns = ['Country', 'Expenses', 'Price', 'Range']
df

,Country,Expenses,Price,Range
0,Singapore,Restaurants,Edit,Range
1,Singapore,"Meal, Inexpensive Restaurant",9.53¬†$,4.40-20.17
2,Singapore,"Meal for 2 People, Mid-range Restaurant, Three...",73.34¬†$,44.00-128.34
3,Singapore,McMeal at McDonalds (or Equivalent Combo Meal),7.33¬†$,5.87-8.80
4,Singapore,Domestic Beer (0.5 liter draught),7.33¬†$,3.67-11.00
5,Singapore,Imported Beer (0.33 liter bottle),7.33¬†$,5.13-13.20
6,Singapore,Cappuccino (regular),4.50¬†$,2.41-5.87
7,Singapore,Coke/Pepsi (0.33 liter bottle),1.56¬†$,1.10-2.20
8,Singapore,Water (0.33 liter bottle),1.10¬†$,0.73-1.83
9,Singapore,Markets,Edit,NaN
10,Singapore,"Milk (regular), (1 liter)",3.14¬†$,1.70-4.77
11,Singapore,Loaf of Fresh White Bread (500g),2.03¬†$,1.38-5.13
12,Singapore,"Rice (white), (1kg)",2.43¬†$,1.32-3.67
13,Singapore,Eggs (regular) (12),3.08¬†$,2.20-4.40
14,Singapore,Local Cheese (1kg),18.76¬†$,7.33-44.00
15,Singapore,Chicken Fillets (1kg),10.98¬†$,4.40-18.45
16,Singapore,Beef Round (1kg) (or Equivalent Back Leg Red M...,20.26¬†$,8.80-30.80
17,Singapore,Apples (1kg),4.54¬†$,2.57-8.80
18,Singapore,Banana (1kg),3.10¬†$,2.16-6.47
19,Singapore,Oranges (1kg),4.05¬†$,2.20-8.80
20,Singapore,Tomato (1kg),3.03¬†$,1.14-5.87
21,Singapore,Potato (1kg),2.38¬†$,1.03-4.04
22,Singapore,Onion (1kg),2.33¬†$,1.25-4.04
23,Singapore,Lettuce (1 head),1.96¬†$,1.10-3.67
24,Singapore,Water (1.5 liter bottle),1.43¬†$,0.58-2.57
25,Singapore,Bottle of Wine (Mid-Range),22.00¬†$,16.06-36.67
26,Singapore,Domestic Beer (0.5 liter bottle),3.73¬†$,2.20-5.87
27,Singapore,Imported Beer (0.33 liter bottle),4.61¬†$,2.20-8.07
28,Singapore,Cigarettes 20 Pack (Marlboro),11.56¬†$,10.27-17.60
29,Singapore,Transportation,Edit,NaN
30,Singapore,One-way Ticket (Local Transport),1.39¬†$,1.06-1.83
31,Singapore,Monthly Pass (Regular Price),93.87¬†$,66.00-102.67
32,Singapore,Taxi Start (Normal Tariff),3.01¬†$,2.64-4.40
33,Singapore,Taxi 1km (Normal Tariff),0.73¬†$,0.44-1.47
34,Singapore,Taxi 1hour Waiting (Normal Tariff),14.67¬†$,9.68-18.33
35,Singapore,Gasoline (1 liter),2.09¬†$,1.58-2.42
36,Singapore,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,"131,930.18¬†$","110,002.93-143,003.81"
37,Singapore,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...,"114,666.65¬†$","104,053.97-132,003.52"
38,Singapore,Utilities (Monthly),Edit,NaN
39,Singapore,"Basic (Electricity, Heating, Cooling, Water, G...",161.76¬†$,110.00-278.67
40,Singapore,Mobile Phone Monthly Plan with Calls and 10GB+...,15.86¬†$,8.65-36.67
41,Singapore,"Internet (60 Mbps or More, Unlimited Data, Cab...",34.33¬†$,27.87-44.00
42,Singapore,Sports And Leisure,Edit,NaN
43,Singapore,"Fitness Club, Monthly Fee for 1 Adult",101.46¬†$,58.67-178.03
44,Singapore,Tennis Court Rent (1 Hour on Weekend),12.82¬†$,7.33-18.33
45,Singapore,"Cinema, International Release, 1 Seat",11.00¬†$,8.80-14.67
46,Singapore,Childcare,Edit,NaN
47,Singapore,"Preschool (or Kindergarten), Full Day, Private...","1,211.62¬†$","733.35-1,760.05"
48,Singapore,"International Primary School, Yearly for 1 Child","26,744.11¬†$","16,867.12-37,089.97"
49,Singapore,Clothing And Shoes,Edit,NaN
50,Singapore,1 Pair of Jeans (Levis 501 Or Similar),71.50¬†$,29.33-109.27
51,Singapore,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",45.02¬†$,22.00-73.34
52,Singapore,1 Pair of Nike Running Shoes (Mid-Range),98.87¬†$,62.33-146.67
53,Singapore,1 Pair of Men Leather Business Shoes,121.38¬†$,72.60-220.01
54,Singapore,Rent Per Month,Edit,NaN
55,Singapore,Apartment (1 bedroom) in City Centre,"3,033.71¬†$","1,833.38-5,118.45"
56,Singapore,Apartment (1 bedroom) Outside of Centre,"2,170.40¬†$","1,466.71-3,080.08"
57,Singapore,Apartment (3 bedrooms) in City Centre,"6,323.85¬†$","4,033.44-10,120.27"
58,Singapore,Apartment (3 bedrooms) Outside of Centre,"3,982.10¬†$","2,566.74-5,866.82"
59,Singapore,Buy Apartment Price,Edit,NaN
60,Singapore,Price per Square Meter to Buy Apartment in Cit...,"20,578.97¬†$","14,208.74-31,574.98"
61,Singapore,Price per Square Meter to Buy Apartment Outsid...,"12,106.89¬†$","7,893.74-16,133.76"
62,Singapore,Salaries And Financing,Edit,NaN
63,Singapore,Average Monthly Net Salary (After Tax),"4,874.45¬†$",NaN
64,Singapore,"Mortgage Interest Rate in Percentages (%), Yea...",3.56,2.60-4.80
65,Malaysia,Restaurants,Edit,Range
66,Malaysia,"Meal, Inexpensive Restaurant",2.54¬†$,1.48-5.29
67,Malaysia,"Meal for 2 People, Mid-range Restaurant, Three...",16.92¬†$,10.58-42.31
68,Malaysia,McMeal at McDonalds (or Equivalent Combo Meal),3.60¬†$,3.17-4.23
69,Malaysia,Domestic Beer (0.5 liter draught),3.17¬†$,2.09-5.50
70,Malaysia,Imported Beer (0.33 liter bottle),4.23¬†$,2.33-7.40
71,Malaysia,Cappuccino (regular),2.47¬†$,1.06-4.02
72,Malaysia,Coke/Pepsi (0.33 liter bottle),0.61¬†$,0.42-1.06
73,Malaysia,Water (0.33 liter bottle),0.35¬†$,0.21-0.63
74,Malaysia,Markets,Edit,NaN
75,Malaysia,"Milk (regular), (1 liter)",1.50¬†$,1.06-1.90
76,Malaysia,Loaf of Fresh White Bread (500g),0.77¬†$,0.58-1.63
77,Malaysia,"Rice (white), (1kg)",1.08¬†$,0.53-2.12
78,Malaysia,Eggs (regular) (12),1.49¬†$,0.85-2.16
79,Malaysia,Local Cheese (1kg),11.82¬†$,4.23-27.50
80,Malaysia,Chicken Fillets (1kg),3.90¬†$,1.80-5.29
81,Malaysia,Beef Round (1kg) (or Equivalent Back Leg Red M...,7.61¬†$,3.81-12.48
82,Malaysia,Apples (1kg),2.20¬†$,1.06-3.73
83,Malaysia,Banana (1kg),1.15¬†$,0.84-2.12
84,Malaysia,Oranges (1kg),2.42¬†$,1.06-5.29
85,Malaysia,Tomato (1kg),1.16¬†$,0.63-1.90
86,Malaysia,Potato (1kg),0.77¬†$,0.42-1.27
87,Malaysia,Onion (1kg),0.91¬†$,0.53-1.69
88,Malaysia,Lettuce (1 head),0.88¬†$,0.42-1.35
89,Malaysia,Water (1.5 liter bottle),0.52¬†$,0.32-0.74
90,Malaysia,Bottle of Wine (Mid-Range),14.81¬†$,7.40-21.15
91,Malaysia,Domestic Beer (0.5 liter bottle),2.33¬†$,1.27-3.38
92,Malaysia,Imported Beer (0.33 liter bottle),3.21¬†$,1.69-5.29
93,Malaysia,Cigarettes 20 Pack (Marlboro),3.81¬†$,3.68-5.29
94,Malaysia,Transportation,Edit,NaN
95,Malaysia,One-way Ticket (Local Transport),0.63¬†$,0.42-1.06
96,Malaysia,Monthly Pass (Regular Price),16.92¬†$,10.58-31.73
97,Malaysia,Taxi Start (Normal Tariff),0.85¬†$,0.63-1.27
98,Malaysia,Taxi 1km (Normal Tariff),0.63¬†$,0.26-1.27
99,Malaysia,Taxi 1hour Waiting (Normal Tariff),4.23¬†$,3.17-6.35
100,Malaysia,Gasoline (1 liter),0.44¬†$,0.42-0.53
101,Malaysia,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,"33,844.53¬†$","27,498.68-37,017.45"
102,Malaysia,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...,"26,845.32¬†$","25,383.40-29,613.96"
103,Malaysia,Utilities (Monthly),Edit,NaN
104,Malaysia,"Basic (Electricity, Heating, Cooling, Water, G...",42.60¬†$,25.38-67.74
105,Malaysia,Mobile Phone Monthly Plan with Calls and 10GB+...,8.46¬†$,8.46-12.69
106,Malaysia,"Internet (60 Mbps or More, Unlimited Data, Cab...",24.99¬†$,19.04-35.96
107,Malaysia,Sports And Leisure,Edit,NaN
108,Malaysia,"Fitness Club, Monthly Fee for 1 Adult",32.54¬†$,16.92-52.88
109,Malaysia,Tennis Court Rent (1 Hour on Weekend),5.42¬†$,3.17-8.46
110,Malaysia,"Cinema, International Release, 1 Seat",3.81¬†$,2.86-5.29
111,Malaysia,Childcare,Edit,NaN
112,Malaysia,"Preschool (or Kindergarten), Full Day, Private...",155.32¬†$,95.19-296.14
113,Malaysia,"International Primary School, Yearly for 1 Child","5,604.07¬†$","3,172.92-13,749.34"
114,Malaysia,Clothing And Shoes,Edit,NaN
115,Malaysia,1 Pair of Jeans (Levis 501 Or Similar),49.02¬†$,21.15-74.03
116,Malaysia,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",26.41¬†$,10.58-52.88
117,Malaysia,1 Pair of Nike Running Shoes (Mid-Range),62.74¬†$,31.73-95.19
118,Malaysia,1 Pair of Men Leather Business Shoes,57.34¬†$,31.73-105.76
119,Malaysia,Rent Per Month,Edit,NaN
120,Malaysia,Apartment (1 bedroom) in City Centre,338.34¬†$,211.53-634.58
121,Malaysia,Apartment (1 bedroom) Outside of Centre,245.05¬†$,148.07-423.06
122,Malaysia,Apartment (3 bedrooms) in City Centre,626.96¬†$,"317.29-1,163.41"
123,Malaysia,Apartment (3 bedrooms) Outside of Centre,395.85¬†$,211.53-740.35
124,Malaysia,Buy Apartment Price,Edit,NaN
125,Malaysia,Price per Square Meter to Buy Apartment in Cit...,"1,797.84¬†$","1,024.59-3,187.62"
126,Malaysia,Price per Square Meter to Buy Apartment Outsid...,"1,020.33¬†$","634.58-1,438.98"
127,Malaysia,Salaries And Financing,Edit,NaN
128,Malaysia,Average Monthly Net Salary (After Tax),793.27¬†$,NaN
129,Malaysia,"Mortgage Interest Rate in Percentages (%), Yea...",3.92,3.00-5.00
130,Indonesia,Restaurants,Edit,Range
131,Indonesia,"Meal, Inexpensive Restaurant",1.60¬†$,0.96-3.20
132,Indonesia,"Meal for 2 People, Mid-range Restaurant, Three...",15.98¬†$,9.59-42.18
133,Indonesia,McMeal at McDonalds (or Equivalent Combo Meal),3.20¬†$,2.88-3.83
134,Indonesia,Domestic Beer (0.5 liter draught),2.56¬†$,1.60-4.15
135,Indonesia,Imported Beer (0.33 liter bottle),3.51¬†$,2.30-6.33
136,Indonesia,Cappuccino (regular),1.79¬†$,0.83-3.20
137,Indonesia,Coke/Pepsi (0.33 liter bottle),0.55¬†$,0.32-1.14
138,Indonesia,Water (0.33 liter bottle),0.29¬†$,0.19-0.64
139,Indonesia,Markets,Edit,NaN
140,Indonesia,"Milk (regular), (1 liter)",1.26¬†$,0.96-1.85
141,Indonesia,Loaf of Fresh White Bread (500g),1.10¬†$,0.77-2.11
142,Indonesia,"Rice (white), (1kg)",0.84¬†$,0.64-1.02
143,Indonesia,Eggs (regular) (12),1.56¬†$,1.02-2.30
144,Indonesia,Local Cheese (1kg),7.37¬†$,3.20-14.70
145,Indonesia,Chicken Fillets (1kg),3.28¬†$,1.66-5.11
146,Indonesia,Beef Round (1kg) (or Equivalent Back Leg Red M...,8.11¬†$,4.79-11.36
147,Indonesia,Apples (1kg),2.59¬†$,1.28-3.96
148,Indonesia,Banana (1kg),1.33¬†$,0.64-2.24
149,Indonesia,Oranges (1kg),1.73¬†$,0.64-3.83
150,Indonesia,Tomato (1kg),1.09¬†$,0.51-1.92
151,Indonesia,Potato (1kg),1.26¬†$,0.64-2.18
152,Indonesia,Onion (1kg),2.03¬†$,0.96-3.51
153,Indonesia,Lettuce (1 head),0.85¬†$,0.32-1.60
154,Indonesia,Water (1.5 liter bottle),0.43¬†$,0.32-0.77
155,Indonesia,Bottle of Wine (Mid-Range),19.17¬†$,7.67-31.95
156,Indonesia,Domestic Beer (0.5 liter bottle),2.11¬†$,1.28-3.39
157,Indonesia,Imported Beer (0.33 liter bottle),3.12¬†$,1.92-4.79
158,Indonesia,Cigarettes 20 Pack (Marlboro),2.24¬†$,1.92-2.62
159,Indonesia,Transportation,Edit,NaN
160,Indonesia,One-way Ticket (Local Transport),0.32¬†$,0.22-0.64
161,Indonesia,Monthly Pass (Regular Price),9.59¬†$,6.39-19.17
162,Indonesia,Taxi Start (Normal Tariff),0.54¬†$,0.45-1.28
163,Indonesia,Taxi 1km (Normal Tariff),0.33¬†$,0.26-0.64
164,Indonesia,Taxi 1hour Waiting (Normal Tariff),3.13¬†$,1.60-6.39
165,Indonesia,Gasoline (1 liter),0.82¬†$,0.64-0.91
166,Indonesia,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,"25,562.13¬†$","22,814.20-36,745.56"
167,Indonesia,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...,"27,868.67¬†$","22,366.86-32,847.33"
168,Indonesia,Utilities (Monthly),Edit,NaN
169,Indonesia,"Basic (Electricity, Heating, Cooling, Water, G...",62.42¬†$,31.95-127.81
170,Indonesia,Mobile Phone Monthly Plan with Calls and 10GB+...,3.22¬†$,2.04-7.99
171,Indonesia,"Internet (60 Mbps or More, Unlimited Data, Cab...",27.82¬†$,19.17-50.49
172,Indonesia,Sports And Leisure,Edit,NaN
173,Indonesia,"Fitness Club, Monthly Fee for 1 Adult",26.29¬†$,12.78-63.91
174,Indonesia,Tennis Court Rent (1 Hour on Weekend),8.91¬†$,3.20-15.98
175,Indonesia,"Cinema, International Release, 1 Seat",3.20¬†$,2.56-4.79
176,Indonesia,Childcare,Edit,NaN
177,Indonesia,"Preschool (or Kindergarten), Full Day, Private...",102.72¬†$,38.34-191.72
178,Indonesia,"International Primary School, Yearly for 1 Child","6,404.64¬†$","2,300.59-15,976.33"
179,Indonesia,Clothing And Shoes,Edit,NaN
180,Indonesia,1 Pair of Jeans (Levis 501 Or Similar),38.04¬†$,12.78-79.88
181,Indonesia,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",27.60¬†$,12.78-44.73
182,Indonesia,1 Pair of Nike Running Shoes (Mid-Range),71.67¬†$,38.34-115.03
183,Indonesia,1 Pair of Men Leather Business Shoes,63.86¬†$,28.76-127.81
184,Indonesia,Rent Per Month,Edit,NaN
185,Indonesia,Apartment (1 bedroom) in City Centre,301.68¬†$,127.81-639.05
186,Indonesia,Apartment (1 bedroom) Outside of Centre,180.18¬†$,76.69-447.34
187,Indonesia,Apartment (3 bedrooms) in City Centre,772.10¬†$,"319.53-1,917.16"
188,Indonesia,Apartment (3 bedrooms) Outside of Centre,427.72¬†$,"191.72-1,150.30"
189,Indonesia,Buy Apartment Price,Edit,NaN
190,Indonesia,Price per Square Meter to Buy Apartment in Cit...,"1,596.84¬†$","881.89-3,195.27"
191,Indonesia,Price per Square Meter to Buy Apartment Outsid...,834.85¬†$,"415.38-1,789.35"
192,Indonesia,Salaries And Financing,Edit,NaN
193,Indonesia,Average Monthly Net Salary (After Tax),324.74¬†$,NaN
194,Indonesia,"Mortgage Interest Rate in Percentages (%), Yea...",9.30,5.00-12.50
195,Philippines,Restaurants,Edit,Range
196,Philippines,"Meal, Inexpensive Restaurant",3.53¬†$,1.60-7.94
197,Philippines,"Meal for 2 People, Mid-range Restaurant, Three...",21.17¬†$,12.35-52.92
198,Philippines,McMeal at McDonalds (or Equivalent Combo Meal),3.18¬†$,2.65-4.04
199,Philippines,Domestic Beer (0.5 liter draught),1.23¬†$,0.88-2.65
200,Philippines,Imported Beer (0.33 liter bottle),2.12¬†$,1.41-4.06
201,Philippines,Cappuccino (regular),2.38¬†$,0.88-4.41
202,Philippines,Coke/Pepsi (0.33 liter bottle),0.71¬†$,0.39-1.59
203,Philippines,Water (0.33 liter bottle),0.39¬†$,0.26-0.88
204,Philippines,Markets,Edit,NaN
205,Philippines,"Milk (regular), (1 liter)",1.68¬†$,1.32-2.17
206,Philippines,Loaf of Fresh White Bread (500g),1.18¬†$,0.79-1.94
207,Philippines,"Rice (white), (1kg)",0.90¬†$,0.71-1.16
208,Philippines,Eggs (regular) (12),1.78¬†$,1.23-2.54
209,Philippines,Local Cheese (1kg),6.85¬†$,2.47-17.64
210,Philippines,Chicken Fillets (1kg),4.07¬†$,2.29-6.17
211,Philippines,Beef Round (1kg) (or Equivalent Back Leg Red M...,6.57¬†$,4.41-10.58
212,Philippines,Apples (1kg),2.75¬†$,1.06-5.29
213,Philippines,Banana (1kg),1.44¬†$,0.88-2.65
214,Philippines,Oranges (1kg),2.56¬†$,0.88-5.29
215,Philippines,Tomato (1kg),1.51¬†$,0.53-2.65
216,Philippines,Potato (1kg),1.87¬†$,0.71-3.26
217,Philippines,Onion (1kg),2.36¬†$,1.06-4.59
218,Philippines,Lettuce (1 head),1.35¬†$,0.53-2.65
219,Philippines,Water (1.5 liter bottle),0.71¬†$,0.44-1.41
220,Philippines,Bottle of Wine (Mid-Range),6.79¬†$,3.53-13.23
221,Philippines,Domestic Beer (0.5 liter bottle),1.14¬†$,0.74-1.76
222,Philippines,Imported Beer (0.33 liter bottle),1.78¬†$,1.06-2.65
223,Philippines,Cigarettes 20 Pack (Marlboro),2.65¬†$,2.12-3.53
224,Philippines,Transportation,Edit,NaN
225,Philippines,One-way Ticket (Local Transport),0.26¬†$,0.18-0.62
226,Philippines,Monthly Pass (Regular Price),10.29¬†$,5.29-21.17
227,Philippines,Taxi Start (Normal Tariff),0.71¬†$,0.71-0.97
228,Philippines,Taxi 1km (Normal Tariff),0.25¬†$,0.21-0.53
229,Philippines,Taxi 1hour Waiting (Normal Tariff),2.12¬†$,1.76-3.53
230,Philippines,Gasoline (1 liter),1.27¬†$,1.11-1.50
231,Philippines,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,"22,931.13¬†$","17,639.33-28,205.29"
232,Philippines,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...,"20,453.32¬†$","17,639.33-24,695.06"
233,Philippines,Utilities (Monthly),Edit,NaN
234,Philippines,"Basic (Electricity, Heating, Cooling, Water, G...",98.00¬†$,52.92-176.39
235,Philippines,Mobile Phone Monthly Plan with Calls and 10GB+...,43.82¬†$,17.64-44.08
236,Philippines,"Internet (60 Mbps or More, Unlimited Data, Cab...",33.85¬†$,26.46-52.92
237,Philippines,Sports And Leisure,Edit,NaN
238,Philippines,"Fitness Club, Monthly Fee for 1 Adult",31.80¬†$,8.82-52.92
239,Philippines,Tennis Court Rent (1 Hour on Weekend),5.17¬†$,2.65-8.82
240,Philippines,"Cinema, International Release, 1 Seat",5.29¬†$,3.88-7.94
241,Philippines,Childcare,Edit,NaN
242,Philippines,"Preschool (or Kindergarten), Full Day, Private...",146.85¬†$,52.92-529.18
243,Philippines,"International Primary School, Yearly for 1 Child","4,908.00¬†$","1,763.93-14,993.43"
244,Philippines,Clothing And Shoes,Edit,NaN
245,Philippines,1 Pair of Jeans (Levis 501 Or Similar),38.70¬†$,12.35-70.56
246,Philippines,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",24.52¬†$,8.82-44.10
247,Philippines,1 Pair of Nike Running Shoes (Mid-Range),68.12¬†$,39.69-98.78
248,Philippines,1 Pair of Men Leather Business Shoes,61.03¬†$,26.46-114.66
249,Philippines,Rent Per Month,Edit,NaN
250,Philippines,Apartment (1 bedroom) in City Centre,318.12¬†$,141.11-705.57
251,Philippines,Apartment (1 bedroom) Outside of Centre,172.70¬†$,88.20-352.79
252,Philippines,Apartment (3 bedrooms) in City Centre,681.81¬†$,"264.59-1,763.93"
253,Philippines,Apartment (3 bedrooms) Outside of Centre,369.90¬†$,176.39-970.16
254,Philippines,Buy Apartment Price,Edit,NaN
255,Philippines,Price per Square Meter to Buy Apartment in Cit...,"2,514.19¬†$","881.97-4,939.01"
256,Philippines,Price per Square Meter to Buy Apartment Outsid...,"1,265.17¬†$","440.98-2,645.90"
257,Philippines,Salaries And Financing,Edit,NaN
258,Philippines,Average Monthly Net Salary (After Tax),339.91¬†$,NaN
259,Philippines,"Mortgage Interest Rate in Percentages (%), Yea...",7.34,5.00-11.00
260,Thailand,Restaurants,Edit,Range
261,Thailand,"Meal, Inexpensive Restaurant",2.17¬†$,1.22-5.42
262,Thailand,"Meal for 2 People, Mid-range Restaurant, Three...",21.67¬†$,13.54-50.00
263,Thailand,McMeal at McDonalds (or Equivalent Combo Meal),5.42¬†$,4.31-7.00
264,Thailand,Domestic Beer (0.5 liter draught),1.90¬†$,1.35-3.25
265,Thailand,Imported Beer (0.33 liter bottle),3.00¬†$,2.17-5.01
266,Thailand,Cappuccino (regular),1.80¬†$,0.98-3.39
267,Thailand,Coke/Pepsi (0.33 liter bottle),0.60¬†$,0.41-1.35
268,Thailand,Water (0.33 liter bottle),0.33¬†$,0.24-0.54
269,Thailand,Markets,Edit,NaN
270,Thailand,"Milk (regular), (1 liter)",1.57¬†$,1.16-2.57
271,Thailand,Loaf of Fresh White Bread (500g),1.27¬†$,0.81-3.25
272,Thailand,"Rice (white), (1kg)",1.14¬†$,0.54-2.09
273,Thailand,Eggs (regular) (12),1.70¬†$,1.14-2.44
274,Thailand,Local Cheese (1kg),15.83¬†$,8.13-32.51
275,Thailand,Chicken Fillets (1kg),2.46¬†$,1.35-4.47
276,Thailand,Beef Round (1kg) (or Equivalent Back Leg Red M...,9.95¬†$,5.42-16.80
277,Thailand,Apples (1kg),2.52¬†$,1.08-4.06
278,Thailand,Banana (1kg),1.10¬†$,0.54-2.44
279,Thailand,Oranges (1kg),1.79¬†$,0.81-3.25
280,Thailand,Tomato (1kg),1.31¬†$,0.54-2.17
281,Thailand,Potato (1kg),1.32¬†$,0.81-2.03
282,Thailand,Onion (1kg),1.06¬†$,0.60-1.63
283,Thailand,Lettuce (1 head),1.02¬†$,0.41-2.03
284,Thailand,Water (1.5 liter bottle),0.44¬†$,0.27-0.68
285,Thailand,Bottle of Wine (Mid-Range),16.25¬†$,9.48-23.03
286,Thailand,Domestic Beer (0.5 liter bottle),1.59¬†$,1.22-2.17
287,Thailand,Imported Beer (0.33 liter bottle),2.55¬†$,1.35-4.06
288,Thailand,Cigarettes 20 Pack (Marlboro),3.85¬†$,2.71-4.33
289,Thailand,Transportation,Edit,NaN
290,Thailand,One-way Ticket (Local Transport),0.81¬†$,0.27-1.35
291,Thailand,Monthly Pass (Regular Price),28.66¬†$,16.25-54.18
292,Thailand,Taxi Start (Normal Tariff),0.95¬†$,0.95-2.09
293,Thailand,Taxi 1km (Normal Tariff),1.05¬†$,0.60-1.35
294,Thailand,Taxi 1hour Waiting (Normal Tariff),4.66¬†$,2.71-6.77
295,Thailand,Gasoline (1 liter),1.13¬†$,0.95-1.29
296,Thailand,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,"26,818.94¬†$","18,962.89-54,179.69"
297,Thailand,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...,"23,858.50¬†$","21,671.87-25,735.35"
298,Thailand,Utilities (Monthly),Edit,NaN
299,Thailand,"Basic (Electricity, Heating, Cooling, Water, G...",66.68¬†$,40.63-132.40
300,Thailand,Mobile Phone Monthly Plan with Calls and 10GB+...,14.07¬†$,7.86-16.25
301,Thailand,"Internet (60 Mbps or More, Unlimited Data, Cab...",15.65¬†$,10.81-21.67
302,Thailand,Sports And Leisure,Edit,NaN
303,Thailand,"Fitness Club, Monthly Fee for 1 Adult",43.21¬†$,24.38-81.27
304,Thailand,Tennis Court Rent (1 Hour on Weekend),9.05¬†$,4.06-13.54
305,Thailand,"Cinema, International Release, 1 Seat",5.96¬†$,4.06-9.48
306,Thailand,Childcare,Edit,NaN
307,Thailand,"Preschool (or Kindergarten), Full Day, Private...",377.83¬†$,189.63-948.14
308,Thailand,"International Primary School, Yearly for 1 Child","10,763.98¬†$","6,772.46-19,477.60"
309,Thailand,Clothing And Shoes,Edit,NaN
310,Thailand,1 Pair of Jeans (Levis 501 Or Similar),40.23¬†$,13.54-81.27
311,Thailand,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",31.79¬†$,13.54-67.72

## Data Cleaning:

* In the **'Price'** column, I replaced any **'Edit'** or **'?'** values with blanks (**NaN**). Then, I removed dollar signs and commas from the prices. Finally, I changed the text prices into actual number values for easier calculations.

In [145]:
# Replace 'Edit' and '?' with NaN
df['Price'].replace(['Edit', '?'], np.nan, inplace=True)

# Ensure all remaining values are strings before applying further replacements
df['Price'] = df['Price'].astype(str)

# Remove the dollar sign and strip white spaces
df['Price'] = df['Price'].str.replace('$', '').str.strip()

# Remove commas and convert to float
df['Price'] = df['Price'].str.replace(',', '').astype(float)

* In the **'Range'** column, I took out any commas. Next, I split this column in two: '**Min Range**' and '**Max Range**', based on the dash in between values. Lastly, I made sure both these new columns had number values for easier calculations.

In [146]:
# Remove commas from the 'Range' column
df['Range'] = df['Range'].str.replace(',', '')

# Split Range into Min and Max columns and convert to float
df[['Min Range', 'Max Range']] = df['Range'].str.split('-', expand=True)

# Convert the new Min Range and Max Range columns to numeric type
df['Min Range'] = pd.to_numeric(df['Min Range'], errors='coerce')
df['Max Range'] = pd.to_numeric(df['Max Range'], errors='coerce')

* I created a mapping to categorize individual expenses into their respective categories for better clarity and to keep the data structured. I keep this data in **Category** column.

In [147]:
expense_to_category = {
    
    #Mappings for "Restaurant" category:
    "Meal, Inexpensive Restaurant": "Restaurant",
    "Meal for 2 People, Mid-range Restaurant, Three-course": "Restaurant",
    "McMeal at McDonalds (or Equivalent Combo Meal)": "Restaurant",
    "Domestic Beer (0.5 liter draught)": "Restaurant",
    "Imported Beer (0.33 liter bottle)": "Restaurant",
    "Cappuccino (regular)": "Restaurant",
    "Coke/Pepsi (0.33 liter bottle)": "Restaurant",
    "Water (0.33 liter bottle)": "Restaurant",
    
    #Mappings for "Markets" category:
    "Milk (regular), (1 liter)": "Markets",
    "Loaf of Fresh White Bread (500g)": "Markets",
    "Rice (white), (1kg)": "Markets",
    "Eggs (regular) (12)": "Markets",
    "Local Cheese (1kg)": "Markets",
    "Chicken Fillets (1kg)": "Markets",
    "Beef Round (1kg) (or Equivalent Back Leg Red Meat)": "Markets",
    "Apples (1kg)": "Markets",
    "Banana (1kg)": "Markets",
    "Oranges (1kg)": "Markets",
    "Tomato (1kg)": "Markets",
    "Potato (1kg)": "Markets",
    "Onion (1kg)": "Markets",
    "Lettuce (1 head)": "Markets",
    "Water (1.5 liter bottle)": "Markets",
    "Bottle of Wine (Mid-Range)": "Markets",
    "Domestic Beer (0.5 liter bottle)": "Markets",
    "Imported Beer (0.33 liter bottle)": "Markets",
    "Cigarettes 20 Pack (Marlboro)": "Markets",
    
    #Mappings for "Transportation" category:
    "One-way Ticket (Local Transport)": "Transportation",
    "Monthly Pass (Regular Price)": "Transportation",
    "Taxi Start (Normal Tariff)": "Transportation",
    "Taxi 1km (Normal Tariff)": "Transportation",
    "Taxi 1hour Waiting (Normal Tariff)": "Transportation",
    "Gasoline (1 liter)": "Transportation",
    "Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)": "Transportation",
    "Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car)": "Transportation",
    
    #Mappings for "Utilities (Monthly)" category:
    "Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment": "Utilities",
    "Mobile Phone Monthly Plan with Calls and 10GB+ Data": "Utilities",
    "Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)": "Utilities",
    
    #Mappings for "Sports And Leisure" category:
    "Fitness Club, Monthly Fee for 1 Adult": "Sports And Leisure",
    "Tennis Court Rent (1 Hour on Weekend)": "Sports And Leisure",
    "Cinema, International Release, 1 Seat": "Sports And Leisure",
    
    #Mappings for "Childcare" category:
    "Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child": "Childcare",
    "International Primary School, Yearly for 1 Child": "Childcare",
    
    #Mappings for "Clothing And Shoes" category:
    "1 Pair of Jeans (Levis 501 Or Similar)": "Clothing And Shoes",
    "1 Summer Dress in a Chain Store (Zara, H&M, ...)": "Clothing And Shoes",
    "1 Pair of Nike Running Shoes (Mid-Range)": "Clothing And Shoes",
    "1 Pair of Men Leather Business Shoes": "Clothing And Shoes",
    
    #Mappings for "Rent Per Month" category:
    "Apartment (1 bedroom) in City Centre": "Rent Per Month",
    "Apartment (1 bedroom) Outside of Centre": "Rent Per Month",
    "Apartment (3 bedrooms) in City Centre": "Rent Per Month",
    "Apartment (3 bedrooms) Outside of Centre": "Rent Per Month",
    
    #Mappings for "Buy Apartment Price" category:
    "Price per Square Meter to Buy Apartment in City Centre": "Buy Apartment Price",
    "Price per Square Meter to Buy Apartment Outside of Centre": "Buy Apartment Price",
    
    #Mappings for "Salaries And Financing" category:
    "Average Monthly Net Salary (After Tax)": "Salaries And Financing",
    "Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate": "Salaries And Financing"
}
# Insert 'Category' column at the 3nd position (index 2)
df.insert(2, 'Category', df['Expenses'].map(expense_to_category))
df.head(5)

,Country,Expenses,Category,Price,Range,Min Range,Max Range
0,Singapore,Restaurants,NaN,NaN,Range,NaN,NaN
1,Singapore,"Meal, Inexpensive Restaurant",Restaurant,9.53,4.40-20.17,4.40,20.17
2,Singapore,"Meal for 2 People, Mid-range Restaurant, Three...",Restaurant,73.34,44.00-128.34,44.00,128.34
3,Singapore,McMeal at McDonalds (or Equivalent Combo Meal),Restaurant,7.33,5.87-8.80,5.87,8.80
4,Singapore,Domestic Beer (0.5 liter draught),Restaurant,7.33,3.67-11.00,3.67,11.00

* I deleted the rows containing information about the category because, previously I created a new column that provides this information.

In [148]:
# List of values to be excluded
exclude_values = ["Restaurants", "Markets", "Transportation", "Utilities (Monthly)", "Sports And Leisure", "Childcare", "Clothing And Shoes", "Rent Per Month", "Buy Apartment Price", "Salaries And Financing"]

# Exclude rows containing specific values in 'Expenses'
df = df[~df['Expenses'].isin(exclude_values)]

* I notice that we are missing some values for the **Category**, **Price**, **Range**, **Min Range**, **Max Range** columns. I am inspecting them and I will try to correct them where possible.<br><br>

* I will start with the **Category** column:

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 605 entries, 1 to 714
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    605 non-null    object
 1   Expenses   605 non-null    object
 2   Category   600 non-null    object
 3   Price      603 non-null    float64
 4   Range      571 non-null    object
 5   Min Range  571 non-null    float64
 6   Max Range  571 non-null    float64
dtypes: float64(3), object(4)
memory usage: 37.8+ KB

In [150]:
# Filter and display rows where 'Category' is NaN
nan_price_rows = df[df['Category'].isna()]
nan_price_rows

,Country,Expenses,Category,Price,Range,Min Range,Max Range
589,Brunei,Domestic Non-Alcoholic Beer (0.5 liter draught),NaN,1.83,1.47-3.67,1.47,3.67
590,Brunei,Imported Non-Alcoholic Beer (0.33 liter bottle),NaN,2.20,1.83-2.93,1.83,2.93
610,Brunei,Bottle of Non-Alcoholic Wine (Mid-Range),NaN,11.00,2.20-25.67,2.20,25.67
611,Brunei,Domestic Non-Alcoholic Beer (0.5 liter bottle),NaN,3.91,0.73-7.33,0.73,7.33
612,Brunei,Imported Non-Alcoholic Beer (0.33 liter bottle),NaN,1.25,1.03-1.47,1.03,1.47

* After inspecting these values on the website, I found what I need to add.

In [151]:
# Replace the missing values
df.loc[[589, 590], 'Category'] = "Restaurant"
df.loc[[610, 611, 612], 'Category'] = "Markets"

* Category done! Next, Price:

In [152]:
# Filter and display rows where 'Price' is NaN
nan_price_rows = df[df['Price'].isna()]
nan_price_rows

,Country,Expenses,Category,Price,Range,Min Range,Max Range
561,Laos,"Internet (60 Mbps or More, Unlimited Data, Cab...",Utilities,NaN,NaN,NaN,NaN
690,Timor-Leste,Mobile Phone Monthly Plan with Calls and 10GB+...,Utilities,NaN,NaN,NaN,NaN

* After conducting research, I extracted the price for "**Mobile Phone Monthly Plan with Calls and 10GB+ Data**" in **Timor-Leste** from (https://esims.io/countries/laos), a provider of prepaid eSIM plans for tourists. This data was accessed on 10/13/2023.

In [153]:
df.loc[(df['Country'] == 'Timor-Leste') & 
 (df['Expenses'] == 'Mobile Phone Monthly Plan with Calls and 10GB+ Data'), 'Price'] = 44

* The cost of "**Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)**" in **Laos** is currently not available. Efforts to find this data from various sources were unsuccessful. The analysis will proceed with this data point as **NaN** and interpretations will be made accordingly.

### Note on Missing Values in "Range", "Min Range", and "Max Range" Columns

Entries with NaN in the "Range", "Min Range", and "Max Range" columns indicate that the data for those specific ranges is not available. Despite efforts to find substitute values, no suitable data was found. In this case, statistical imputations like using medians or means are not applicable due to the nature and specificity of the data.

In [154]:
# Filter and display rows where 'Range' is NaN
nan_price_rows = df[df['Range'].isna()]
nan_price_rows

,Country,Expenses,Category,Price,Range,Min Range,Max Range
63,Singapore,Average Monthly Net Salary (After Tax),Salaries And Financing,4874.45,NaN,NaN,NaN
128,Malaysia,Average Monthly Net Salary (After Tax),Salaries And Financing,793.27,NaN,NaN,NaN
193,Indonesia,Average Monthly Net Salary (After Tax),Salaries And Financing,324.74,NaN,NaN,NaN
258,Philippines,Average Monthly Net Salary (After Tax),Salaries And Financing,339.91,NaN,NaN,NaN
323,Thailand,Average Monthly Net Salary (After Tax),Salaries And Financing,532.21,NaN,NaN,NaN
388,Vietnam,Average Monthly Net Salary (After Tax),Salaries And Financing,441.15,NaN,NaN,NaN
426,Myanmar,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,Transportation,35000.00,NaN,NaN,NaN
453,Myanmar,Average Monthly Net Salary (After Tax),Salaries And Financing,309.15,NaN,NaN,NaN
518,Cambodia,Average Monthly Net Salary (After Tax),Salaries And Financing,293.50,NaN,NaN,NaN
540,Laos,Tomato (1kg),Markets,4.41,NaN,NaN,NaN
543,Laos,Lettuce (1 head),Markets,2.00,NaN,NaN,NaN
550,Laos,One-way Ticket (Local Transport),Transportation,0.60,NaN,NaN,NaN
551,Laos,Monthly Pass (Regular Price),Transportation,70.00,NaN,NaN,NaN
554,Laos,Taxi 1hour Waiting (Normal Tariff),Transportation,5.00,NaN,NaN,NaN
556,Laos,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,Transportation,27000.00,NaN,NaN,NaN
557,Laos,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...,Transportation,35000.00,NaN,NaN,NaN
560,Laos,Mobile Phone Monthly Plan with Calls and 10GB+...,Utilities,40.19,NaN,NaN,NaN
561,Laos,"Internet (60 Mbps or More, Unlimited Data, Cab...",Utilities,NaN,NaN,NaN,NaN
568,Laos,"International Primary School, Yearly for 1 Child",Childcare,5000.00,NaN,NaN,NaN
580,Laos,Price per Square Meter to Buy Apartment in Cit...,Buy Apartment Price,3500.00,NaN,NaN,NaN
583,Laos,Average Monthly Net Salary (After Tax),Salaries And Financing,560.00,NaN,NaN,NaN
584,Laos,"Mortgage Interest Rate in Percentages (%), Yea...",Salaries And Financing,10.25,NaN,NaN,NaN
619,Brunei,Taxi 1hour Waiting (Normal Tariff),Transportation,22.00,NaN,NaN,NaN
645,Brunei,Price per Square Meter to Buy Apartment in Cit...,Buy Apartment Price,1578.75,NaN,NaN,NaN
646,Brunei,Price per Square Meter to Buy Apartment Outsid...,Buy Apartment Price,4237.51,NaN,NaN,NaN
648,Brunei,Average Monthly Net Salary (After Tax),Salaries And Financing,1699.24,NaN,NaN,NaN
664,Timor-Leste,Local Cheese (1kg),Markets,6.00,NaN,NaN,NaN
681,Timor-Leste,Monthly Pass (Regular Price),Transportation,56.27,NaN,NaN,NaN
686,Timor-Leste,Volkswagen Golf 1.4 90 KW Trendline (Or Equiva...,Transportation,21573.00,NaN,NaN,NaN
687,Timor-Leste,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equ...,Transportation,19459.00,NaN,NaN,NaN
690,Timor-Leste,Mobile Phone Monthly Plan with Calls and 10GB+...,Utilities,44.00,NaN,NaN,NaN
711,Timor-Leste,Price per Square Meter to Buy Apartment Outsid...,Buy Apartment Price,4000.00,NaN,NaN,NaN
713,Timor-Leste,Average Monthly Net Salary (After Tax),Salaries And Financing,5121.71,NaN,NaN,NaN
714,Timor-Leste,"Mortgage Interest Rate in Percentages (%), Yea...",Salaries And Financing,5.37,NaN,NaN,NaN